{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

  <img src="img/img15.jpg" width=100%  alt="..."> 


    <h1>Déclaration de foi</h1>
    <br>
    <p>1. Dans l'inspiration verbale de la bible.<br>2. En un seul Dieu, existant de toute éternité en trois personnes, le Père, le Fils et le Saint-Esprit.<br>
    3. Que Jésus-Christ est le Fils unique engendré du Père,conçu du Saint-Esprit, et né de la vierge Marie. Que Jésus a été crucifié, enseveli, et est ressucité d'entre les morts. Qu'il est monté au ciel et est à la droite du Père où il intercède pour nous.<br> 4. Que tous ont péché et sont privés de la gloire de Dieu, et que la repentance, demandée par Dieu à tous les hommes, est nécessaire pour le pardon des péchés. <br> 5. Que la justification, la régénération et la nouvelle naissance s'obtiennent par la foi dans le sang de Jésus-Christ.<br> 6. Dans la sanctification consécutive à la nouvelle, par le moyen de la foi dans le sang de Jésus Christ; à travers la Parole de Dieu et par le Saint-Esprit.<br>
    7. Que la sainteté est l'état normal de la vie de tout enfant de Dieu.
    <br>8. Que le bathême dans le Saint-Esprit est accordé à ceux dont le coeur a été purifié par Jésus-Christ.<br>
    9. Que le parler en langues, selon que l'Esprit donne de s'exprimer, est le signe initial du baptême dans le Saint-Esprit.<br>
    10. Dans le baptême d'eau par immersion, et que tous ceux qui se sont repentis doivent être baptisés au nom du Père, du fils et du Saint-Esprit.<br>
    11. Que la guerison divine est offerte à tous, Christ y ayant pourvu par l'expiation à la croix.<br>
    12. Dans la célébration de la Sainte Cène et dans le lavement des pieds.<br>
    13. Dans la seconde venue de Jésus avant le millénium. Premiérement pour ressusciter les morts en Christ et pour enlever avec lui dans les airs les croyants restés vivants. deuxièmement pour régner sur la terre pendant mille ans.<br>
    14. Dans la résurrection des corps; la vie éternelle pour les justes, le châtiment éternel pour les injustes, le châtiment éternel pour les injustes.

    
    </p>
 
</div>
{% endblock %}
