<div class="container my-5">

  <footer
          class="text-center text-lg-start text-black"
          style="background-color: primary"
          >
  
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: primary"
             >
 
      <div class="me-5">
        <span>Nous rejoindres sur les réseaux sociaux</span>
      </div>

      <div>
        <a href="https://www.facebook.com/profile.php?id=100064452679320" class="text-black me-4">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="text-black me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="chrome://newtab" class="text-black me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-black me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-black me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-black me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
   
    </section>
  

    <section class="">
      <div class="container text-center text-md-start mt-5">
    
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        
            <h6 class="text-uppercase fw-bold">Philadelphie</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
           Tout seul on va plus vite,<br> ensemble,<br> on va plus loin.
            </p>
          </div>
        

 
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold">Les Pôles D L'église</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-black">Louange</a>
            </p>
            <p>
              <a href="#!" class="text-black">accueil-entretien</a>
            </p>
            <p>
              <a href="#!" class="text-black">Prière</a>
            </p>
            <p>
              <a href="#!" class="text-black">Jeunesse</a>
            </p>
			 <p>
              <a href="#!" class="text-black">video-media</a>
            </p>
          </div>
        
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
       
            <h6 class="text-uppercase fw-bold">différents liens</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="https://fr-fr.facebook.com/Eglise-Philadelphie-la-Main-Tendue-NGP--162600643757798/videos/plmt-bonne-semaine-b%C3%A9nie/597321901698282" class="text-white">Votre Eglise</a>
            </p>
            <p>
              <a href="#!" class="text-black">Le Royaume De Dieu</a>
            </p>
            <p>
              <a href="#!" class="text-black">Un intérêt commun</a>
            </p>
            <p>
              <a href="https://www.jesusfilm.org/watch/jesus.html/english.html" class="text-black">Jésus</a>
            </p>
          </div>
         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> 12 Rue des petits ruisseaux 91370 <br> Verrière le Buisson</p>
            <p><i class="fas fa-envelope mr-3"></i>edd.plmt.secretariat@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 06/16/65/88/49</p>
            <p><i class="fas fa-print mr-3"></i> </p>
          </div>
       
        </div>
      
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-black" href="#"
         ></a
        >
    </div>

  </footer>
 

</div>

</div>