<br>
<div class="container">
  <div class="row justify-content-between center ">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Nous Contacter</div>
  <div class="card-body">
    <p class="card-title">Adresse :<br>12 Rue Des Petits Ruisseaux<br>91 370 Verriere Le Buisson<br> Adresse mail :<br>edd.plmt.secretariat@gmail.com<br> Telephone:<br>06/16/65/88/49</p>
  
  </div>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Les Liens</div>
  <div class="card-body">
    <p class="card-title">Primary card title</p>
    <p></p>
  </div>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">A propos</div>
  <div class="card-body">
    <p class="card-title">Primary card title</p>
    <p> </p>
  </div>
</div>