{% extends 'base.html.twig' %}

{% block title %}Philadelphie - Presentation
{% endblock %}

{% block body %}
<br>

<div class="container">
  <div class="row justify-content-between center ">
 
<div class="card"  style="width: 18rem;"> 
  <img src="images/img.jpg" class ="card-img-top" widght="100% " alt="...">
  <div class="card-body">
    <h5 class="card-title">Pasteur de l'église Philadelphie La Main Tendue</h5>
    <p class="card-text">Pasteur Mathieu Marléne</p>
   
  </div>
</div>
<br>
<br>
<div class "card" data tilt 
<div class="card" style="width: 18rem;">
  <img src="images/img2.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Fondateurs de l'église Philadelphie La Main Tendue</h5>
    <p class="card-text">Bishop Christian et Jacqueline MERLO</p>
  
  </div>
</div>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img1.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pasteur de l'église Philadelphie La Main Tendue</h5>
    <p class="card-text">Pasteur Bruno Samuel</p>
 
  </div>
</div>

<br>

</div>

</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>
</div>
<br>

	{% endblock %}
