{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="row"
<div class="card mb-3">
  <h3 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Infos</font></font></h3>
  <div class="card-body">
    <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Le live de priére</h1></font></font></h5><br>
    <h6 class="card-subtitle text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Les différentes rencontres de l'église dans la semaine <br>
    <br>
    Temps de prière sur la page privé facebook de l'église :<br>
    <br>
    - Lundi, Mercredi, Jeudi et Vendredi à 19h <br>
    <br>
    - Samedi 10h <br>
    <br>
    <br>
    Temps de prière, intercession et étude de la bible :<br>
    <br>
    - Le mardi en présentiel à partir de 19h <br>
    <br>
    Le service du dimanche 10h

    </font></font></h6>
  </div>
  <img src="images/img7.jpg" widght="50%" height="20%" alt="..."> 
  
  
 
</div>
<div>
<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div></div>



{% endblock %}
