*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.slider{
    height: 50vh;
    position: relative
}
.slider img{
    object-fit: cover;
    height: 50%;
    width: 50%;
    position: absolute;
    
}


    

