*{
    margin: 0;
    padding: 0;
    
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15%;   
}

img{
    border-radius: 50%;
    transform-style: preserve-3d;
    flex-wrap: wrap;
}