*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style:none;
}

.navbar {
    position: absolute;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
}

.navbar .nav-links ul li{
    display: flex;
    flex-direction: column;
}

