{% extends 'base.html.twig' %}

{% block title %}Eglise{% endblock %}

{% block body %}
<br>

<div class="container">
  <div class="row justify-content-between center ">
 
<div class="card" style="width: 18rem; ">
  <img src="images/img12.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pôle Louange</h5>
    <p class="card-text">Nathan et Matthieu </p>
   
  </div>
</div>
<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="images/img13.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pôle Jeunesse</h5>
    <p class="card-text">Sr Rebecca et Helmonde</p>
  
  </div>
</div>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img14.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pôle Accueil et Entretient</h5>
    <p class="card-text">Sr Raymonde </p>
 
  </div>
</div>

<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="images/img15.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pôle Événementiel</h5>
    <p class="card-text">Sr Nelly </p>
 
  </div>
</div>

<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img16.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pôle Média/Sono</h5>
    <p class="card-text"> Nathan, Léa, Clarisse, Thimotée </p>
 
  </div>
</div>

<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="#" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
 
  </div>
</div>

<br>
<br>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>
</div>
{% endblock %}
