{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>

<div class="container">

  <div class="row justify-content-between center ">
 
<div class="card" style="width: 18rem; ">

  <img src="images/img12.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
          <figcaption class="overlay">
            <p>Louange</p>
        </figcaption>
   
    <p class="card-text">Pasteur Samuel</p>
   
  </div>
</div>

<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="images/img13.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
          <figcaption class="overlay">
            <p>Jeunesse</p>
        </figcaption>
  
    <p class="card-text">Sr Rebecca et Helmonde</p>
  
  </div>
</div>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img14.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <figcaption class="overlay">
    <p>Accueil et Entretient</p>
    </figcaption>
    <p class="card-text">Sr Raymonde </p>
 
  </div>
  <br>
<br>
</div>

<br>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img15.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
      <figcaption class="overlay">
    <p> Événementiel</p>
    </figcaption>
    <p class="card-text">Sr Nelly </p>
 
  </div>
</div>

<br>
<br>
<div class="card" style="width: 18rem;">
  <img src="images/img16.jpg" class="card-img-top" widght="100%" alt="...">
  <div class="card-body">
    <figcaption class="overlay">
    <p> Média/Sono</p>
    </figcaption>
   
    <p class="card-text"> Nathan, Léa, Clarisse, Thimotée </p>
 
  </div>
</div>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>
</div>
{% endblock %}
