{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <br>
<div class="row"
<div class="card mb-3">
  <h3 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></h3>
  <div class="card-body">
    <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1>Eglise de Dieu <br>  à Verrières Le Buisson </h1></font></font></h5><br>
    <h2>Philadelphie La Main Tendue </h2><br>
    <h6 class="card-subtitle text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La Vision De L'église <br>
    <br>
    Un peuple nombreux levant les mains pur vers le ciel :<br>
    <br>
    - Une vision commune <br>
    <br>
    - Un intérêt commun <br>
    <br>
  
    - Le royaume de Dieu <br>
    <br>


    </font></font></h6>
  </div>
  <img src="images-verset/imgv.14.jpg" width=50%  alt="..."> 
</div>
<br>
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="img"><img class="d-block img-fluid" src="images-verset/imgv1.jpg.jpg" width=50%  alt="First slide"></div>
    </div>
    <div class="carousel-item">
      <div class="img"><img class="d-block img-fluid" src="images-verset/imgv.jpg.webp" width=50% alt="Second slide"></div>
    </div>
    <div class="carousel-item">
      <div class="img"><img class="d-block img-fluid" src="images-verset/imgv4.jpg.jpg" width=50% alt="Third slide"></div>
    </div>
  </div

 
{% endblock %}