{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %} 

<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><img src="images/img17.jpg" width=10% alt=""><h1>Eglise de Dieu a Verriere Le Buisson</h1></li>
    <li class="breadcrumb-item active" aria-current="page"></li>
  </ol>
</nav>
    
 <img src="img/img19.jpg" width=50%  alt="..."> 
    <br><br>

   <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/img1.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/img2.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/img22.jpg" class="d-block w-50" alt="...">
    </div>
  </div>
</div>

    <br><br>
<div class="row justify-contents"
<div class="card mb-3">
  <h3 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></h3><br>
  <div class="card-body">
    <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1> </h1></font></font></h5><br><br>
    <h2>Philadelphie La Main Tendue </h2><br><br>
    <h6 class="card-subtitle text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La Vision De L'eglise <br>
    <br><br>
    Un peuple nombreux levant les mains pur vers le ciel :<br>
    <br><br>
    - Une vision commune <br>
    <br><br>
    - Un interet commun <br>
    <br><br>
  
    - Le royaume de Dieu <br>
    <br><br>


    </font></font></h6><br><br>
  </div>
  <img src="images/img8.jpg" width=50%  alt="..."> 
</div>
<br>

{% endblock %}
