{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="row"
<div class="card mb-3">
  <h3 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil</font></font></h3>
  <div class="card-body">
    <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Philadelphie La Main Tendue</font></font></h5><br>
    <h6 class="card-subtitle text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La Vision De L'église <br>
    <br>
    Un peuple nombreux levant les mains pur vers le ciel :<br>
    <br>
    - Une vision commune <br>
    <br>
    - Un intérêt commun <br>
    <br>
  
    - Le royaume de Dieu <br>
    <br>


    </font></font></h6>
  </div>
  <img src="images/img8.jpg" widght="50%" height="20%" alt="..."> 
  
  
 
</div>
<div>
<div class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div></div>
{% endblock %}